body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

header {
    background-color: #282828;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    max-width: 85px;
    margin-left: 10px;
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}


.loginButton {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid #1DB954;
    padding: 8px 16px;
    text-decoration: none; /* a href bağlantılı olunca altında çizgi oluyor ya o gözükmesin diye */
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px; /* Sağda boşluk */

}

.loginButton:hover {
    background-color: #1DB954;
}

/* INDEX.HTML */
#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    overflow: hidden;
}

.gallery-item {
    width: calc(20% - 10px); /* 5 albüm için %20 genişlik, 10px boşluk */
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: opacity 0.3s ease-in-out;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin: 0;
}

.gallery-container {
    display: none;
}

.container {
    display: none;
}

#about-us {
    background-color: #212121;
    padding: 40px;
    text-align: center;
}

#about-us h2 {
    color: #1db954;
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(29, 185, 84, 0.8); 
}

#about-us p {
    color: #666;
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}
.highlight-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 5px;
    animation: highlight 2s infinite alternate;
    width: 100%;
}

@keyframes highlight {
    from {
        background-color: #f2f2f2;

    }
    to {
        background-color: #4a804d;
        color: #fff;
    }
}

/* LOGIN.HTML */
.big-logo {
    display: flex;
    margin-left: 170px;
    margin-top: 45px;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 1px solid #1DB954;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #1DB954; 
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
}

/* ALBUMS.HTML */
#user-info{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: #1ed760;
    background-color: #121212;
    border-radius: 3px;
}
/* .flex-container{} */
#albums {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
}

.album-item {
    width: calc(20% - 20px); /* her birini satırın 20% genişliğini kaplasın. %20nin içinde 20px boşluk olsun */
    height: 642px;
    border-radius: 15px;
    background-color: #212121;
    text-align: center;
    position: relative;
    transition: transform 0.3s;
    margin-bottom: 20px; /* alt alta gelen iki album-item arasında 20px boşluk, yani her album-itemın altında 20px boşluk */
}

.album-item:hover {
    transform: scale(1.1);
}

.album-item img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.spotify-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);

}

.spotify-button img {
    max-width: 50px;
    height: auto;
    padding: 8px 16px;
    transition: transform 0.3s;
}

.spotify-button:hover img {
    transform: scale(1.2);
}
